//Typography
$md-text:30px;
$sm-text:20px;
$xs-text:12px;
// Colors
$base-color:#EFF3F9;
$purple-color:#7F7FD5;
$pink-color:#E786D7;
$white-color:#FDFDFF;
$light-color:#EBEBEB;
$gray-color:#979797;
$black-color:#4F4F4F;
//MEDIA QUERIES
$sm-breakpoint:576px;
$md-breakpoint:768px;
$lg-breakpoint:992px;
$xl-breakpoint:1200px;